.signInRoom button, .infos button, .upload button{
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: 700;
    font-family: Helvetica,"sans-serif";
    transition: all .2s;
    padding: 10px 20px;
    border-radius: 100px;
    background: #FF8B00;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.signInRoom button:hover, .infos button:hover {
    background: #444444;
    border: 1px solid white;
}
  
.uploadButton label:hover{
    background: #444444;
    border: 1px solid white;
    transition: 0.2s ease-in-out;
}

.signInRoom button > svg, .infos button > svg{
    width: 34px;
    margin-left: 10px;
    transition: transform .3s ease-in-out;
}
  
.signInRoom button:hover svg, .infos button:hover svg {
    transform: translateX(5px);
}
  
.signInRoom button:active, .infos button:active {
    transform: scale(0.95);
}

.profilePicture{
    width: 55px;
    border-radius: 50px;
    margin-right: 10px;
    border: 2px solid#444444;
}

.infos{
    display: flex;
    align-items: center;
    margin-top: 8vw;
}

.switch {
 --secondary-container: #444444;
 --primary: #ffffff;
 font-size: 17px;
 position: relative;
 display: inline-block;
 width: 3em;
 height: 1.3em;
}

.switch input {
 display: none;
 opacity: 0;
 width: 0;
 height: 0;
}

.slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #444444;
 border: 1px solid white;
 transition: .2s;
 border-radius: 30px;
}

.slider:before {
 position: absolute;
 content: "";
 height: 0.8em;
 width: 0.8em;
 border-radius: 20px;
 left: 0.2em;
 bottom: 0.2em;
 background-color: #ffffff;
 transition: .4s;
}

input:checked + .slider::before {
 background-color: var(--primary);
}

input:checked + .slider {
 background-color: var(--secondary-container);
}

input:focus + .slider {
 box-shadow: 0 0 1px var(--secondary-container);
}

input:checked + .slider:before {
 transform: translateX(1.7em);
}

.favSwitch{
    display: flex;
    justify-content: flex-end;
}

.favSwitch p{
    margin: 0;
    margin-right: 5px;
}

@media (max-width: 700px) {
    .header{
        display: block;
    }
    .infos{
        justify-content: center;
        margin-top: 20px;
    }
}