.music{
    margin-bottom: 70px;
}

.playAndName{
    border-radius: 5px;
    width: 35vw;
    background-color: #444444;
    padding: 20px;
    box-shadow: 2px 2px 10px 2px #000000;
    -webkit-box-shadow: 2px 2px 10px 2px #000000;
    -moz-box-shadow: 2px 2px 10px 2px #000000;
}

.playSection{
    display: flex;
    justify-content: center;
    margin-top: 7vw;
}

.playAndName p{
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: Verdana, Geneva, sans-serif;
    word-wrap:break-word;
    margin-top: 0;
    display: flex;
    justify-content: center;
}

.playButton{
    display: flex;
    justify-content: center;
}

.playAndName img{
    height: 60px;
    cursor: pointer;
    margin: 50px;
}

@media (max-width: 700px) {
    .music{
        margin-top: 70px;
    }
    .playIcon{
        height: 100px;
    }
    .playAndName{
        width: 50vw;  
    }
}